img.icon{
    width: auto;
    height: 20px;
}

div.pageCover {
    display: none; 
    position:fixed; 
    z-index:10; 
    background-color:rgba(0,0,0,.25); 
    width:100vw; 
    height:100vh; 
    top:0; 
    left:0;
}

.popup{
    background-color: white;
    display: none;
    position: fixed;
    border: 3px solid #f1f1f1;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}
